PORT=5000

# PostgreSQL AWS RDS connection details
DB_USER=postgres
DB_PASSWORD=pisolve123
DB_HOST=safeshunt-db.c5oesqouwl70.ap-south-1.rds.amazonaws.com
DB_NAME=lc_platform
DB_PORT=5432
DB_SSL=true

# Secret key for JWT signing
JWT_SECRET=super_secret_jwt_key_for_safeshunt_app

# AWS IoT Core Configuration
AWS_REGION=ap-south-1
AWS_IOT_ENDPOINT=a18ey7y7yi6gdo-ats.iot.ap-south-1.amazonaws.com
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dixdw1mus
CLOUDINARY_API_KEY=647788876868715
CLOUDINARY_API_SECRET=Aku2U6rp22oHgQQEESnZ7w3YaUI
